<h1>Tasks</h1>
 
 <%= link_to (content_tag :button, 'New Todo'), new_task_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @tasks.each do |t| %>
    <tr>
      <td><%= link_to t.title, task_path(t) %></td>
      <td><%= t.description %></td>
    </tr>
  <% end %>
</table>