.row
  %h1 Tasks
  =link_to (content_tag :button, 'New Todo'), new_task_path

.row
  %table
    %tr
      %th Title
      %th Description
      %th

    - @tasks.each do |t|
      %tr
        %td= link_to t.title, task_path(t)
        %td= t.description
        %td 
          - if !t.completed?
            = link_to "Complete", task_path(t, task: {completed: true, completed_at: Time.now}), method: :put, redirect_to: tasks_path
