.row.align-items-center
	=back_link(tasks_path)
	%h1= @task.title

.row
	%p Due #{task_due_date(@task)}

.row
	.btn-group
		=link_to fa_icon('fa-pencil icon', 'Edit'), edit_task_path, class: 'btn btn-sm btn-outline-primary'
		=link_to fa_icon('fa-trash-alt icon', 'Delete'), task_path(@task), class: 'btn btn-sm btn-outline-primary', 
				method: :delete,
				data: { confirm: 'Are you sure?' }
.row.mt-2
	%p=task_completed(@task)

.row
	%a.object-link{href: "#{edit_task_path}"}
		%p.desc.border.p-2.rounded= @task.description

-# = debug @task