.row
	%h1= @task.title

.row
	%p=task_due_date(@task)

.row
	%p Completed? #{@task.completed?}

.row
	=link_to 'Back to Tasks', tasks_path
	=link_to 'Edit', edit_task_path
	=link_to 'Delete', task_path(@task),
              method: :delete,
              data: { confirm: 'Are you sure?' }

%p= @task.description

-# = debug @task